.calendar {
    background: url(../img/interview/interview-bg.png) no-repeat 100% 100%/20%, var(--gradient-green);
    border-radius: 60px 60px 0 0;

    @include respond-to ("tel") {
        border-radius: 25px 25px 0 0;
    }

}

.calendar__container {

    padding: 56px 0 108px 0;

    @include respond-to ("tel") {
        padding: 42px 0 108px 0;
    }
}

.calendar__title {
    color: var(--primary-white);
    margin-bottom: 41px;
    font-size: clamp(1.4375rem, 1.2403rem + 0.8414vw, 2.25rem);

    @include respond-to("tel") {
        margin-bottom: 17px;
    }
}

.tabs__title-box_white {
    &>.tabs__title {
        color: var(--primary-white);
    }
}

.news__tab__name_white {
    color: var(--primary-white);
}

.calendar__content-box {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.tabs__title-box_calendar {
    gap: 14px 48px;
    margin-bottom: 44px;
    flex-wrap: wrap;

    @include respond-to("tab") {
        flex-direction: row;
        gap: 14px 48px;
        margin-bottom: 27px;
    }

    @include respond-to("tel") {
        gap: 8px 29px;
        margin-bottom: 25px;
    }
}

.calendar__item {
    flex: 0 1 100%;
    display: flex;
    gap: 28px;
    border-radius: 15px;
    background: var(--primary-white);
    padding: 18px 27px;

    @include respond-to ("tel") {
        flex-direction: column;
        gap: 5px;
        padding: 17px 15px;
    }
}

.calendar__item-col {
    min-width: 55px;
}

.calendar__item-date {
    @include font(var(--fw-400), clamp(0.9375rem, 0.9223rem + 0.0647vw, 1rem), var(--primary-black), var(--lh-150));
}

.calendar__item-text {
    font-size: clamp(0.9375rem, 0.9223rem + 0.0647vw, 1rem);
}