.blog-detail__nav-box {
    display: flex;
    flex-direction: column;
    margin-bottom: clamp-px(30, 53);
}

.blog-detail__nav-box-top {
    display: flex;
    flex-direction: column;
    margin-top: clamp-px(20, 26);
    padding-bottom: 10px;
    margin-bottom: 15px;
    gap: clamp-px(15, 20);
    border-bottom: 1px solid var(--white);
}

.blog-detail__search-box {
    width: 100%;
    position: relative;
    height: clamp-px(36, 42);
    display: flex;
    align-items: center;

    &>input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: var(--white);
        padding: clamp-px(12, 15) clamp-px(20, 26);
    }

    &>svg {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;

        & path {
            fill: var(--red);
        }
    }
}

.blog-detail__nav-box-top-title {
    font-size: clamp-px(14, 16);
    line-height: 120%;
    color: var(--black);
    font-weight: 400;
    font-family: "Roboto Condensed";
}

.blog-detail__nav-box-bottom {
    display: flex;
    flex-direction: column;
}

.blog-detail__nav-list {
    display: flex;
    flex-direction: column;
}

.blog-detail__nav-list-item {
    &.h2 {
        margin-bottom: 14px;
    }

    &.h3 {
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

.blog-detail__nav-list-link {
    font-size: clamp-px(12, 14);
    line-height: 120%;
    color: var(--black-3);
    font-weight: 300;
    font-family: "Roboto Condensed";
}



.aside-ad {
    display: flex;
    flex-direction: column;
    border-radius: clamp-px(20, 30);
    filter: drop-shadow(0px 2px 3.5px rgba(92, 92, 92, 0.2));
    background-color: var(--white);
    padding: 20px;
    min-height: clamp-px(280, 380);
    margin-bottom: clamp-px(15, 28);

    @include respond-to("nout") {
        display: none;
    }
}

.aside-ad__img-bg {
    position: absolute;
    width: 100%;
    left: 0;

    &.top {
        top: 0;
        // height: 150px;
        aspect-ratio: 1/0.55;
        border-radius: clamp-px(20, 30) clamp-px(20, 30) 0 0;

        & .img-bg {
            border-radius: clamp-px(20, 30) clamp-px(20, 30) 0 0;

            &>img {
                border-radius: clamp-px(20, 30) clamp-px(20, 30) 0 0;
            }
        }
    }

    &.center {
        top: 50%;
        transform: translateY(-80%);
        // height: 150px;
        aspect-ratio: 1/0.55;
    }
}

.aside-ad__content-box {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    &.end {
        height: 100%;
        justify-content: flex-end;
    }

    &.start {
        height: 100%;
        justify-content: flex-start;
    }

    & p {
        &:not(.btn p) {
            font-size: clamp-px(12, 14);
            margin-bottom: 10px;
        }

    }
}

.aside-ad__title {
    font-size: clamp-px(16, 18);
    line-height: 120%;
    color: var(--black);
    font-weight: 400;
    font-family: "Roboto Condensed";
    margin-bottom: clamp-px(12, 15);
}

.aside-ad__subtitle {
    font-size: clamp-px(16, 18);
    line-height: 120%;
    color: var(--black);
    font-weight: 300;
    font-family: "Roboto Condensed";
    margin-bottom: clamp-px(15, 18);
}

.aside-ad-ul {
    display: flex;
    flex-direction: column;
    gap: clamp-px(7, 10);
    margin-bottom: clamp-px(10, 15);

    & li {
        font-size: clamp-px(12, 14);
        line-height: 120%;
        color: var(--black-3);
        font-weight: 300;
        font-family: "Roboto Condensed";
        position: relative;
        padding-left: 17px;

        &::before {
            position: absolute;
            left: 0;
            content: "";
            display: flex;
            width: clamp-px(4, 6);
            height: clamp-px(4, 6);
            background-color: var(--red);
            margin-top: 2px;
        }
    }
}

.article-content {
    display: flex;
    flex-direction: column;

    & img {
        max-width: 100%;
        margin-bottom: clamp-px(20, 25);
    }

    & ol.second {
        margin-left: clamp-px(15, 26);
    }

    & ol.thirt {
        margin-left: clamp-px(15, 26);
    }

    & ul.ul {
        margin-left: clamp-px(15, 26);
    }
}

.article__block-popup-form {
    margin-top: clamp-px(30, 53);
    margin-bottom: clamp-px(30, 60);
}

.block-popup-form__btn {
    padding: clamp-px(12, 15) clamp-px(15, 20);
    width: 100%;
    max-width: 310px;
}

.aside-ad__btn {
    padding: clamp-px(12, 15) clamp-px(15, 20);
    max-width: 100%;
    width: 100%;
}