
<div class="swiper hero-slider">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <div class="hero-slider__item" style="background-image:url('./assets/img/slider/slider-1.jpg');">
        <div class="wrapper hero-slider__wrapper">
          <div class="hero-slider__title"><span>Эффективная теплоизоляция</span></div>
          <div class="hero-slider__text">
            <p>Плиты из экструзионного пенополистирола</p>
          </div>
          <a href="#" class="link-arrow hero-slider__link">Перейти</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="hero-slider__item" style="background-image:url('./assets/img/slider/slider-2.jpg');">
        <div class="wrapper hero-slider__wrapper">
          <div class="hero-slider__title hero-slider__title--bg "><span>Подберите нужные вам материалы за&nbsp;3&nbsp;клика</span></div>
          <a href="#" class="btn btn-primary hero-slider__link">Перейти</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="hero-slider__item" style="background-image:url('./assets/img/slider/slider-1.jpg');">
        <div class="wrapper hero-slider__wrapper">
          <div class="hero-slider__title"><span>Эффективная теплоизоляция</span></div>
          <div class="hero-slider__text">
            <p>Плиты из экструзионного пенополистирола</p>
          </div>
          <a href="#" class="link-arrow hero-slider__link">Перейти</a>
        </div>
      </div>
    </div>

  </div>
  <div class="swiper-pagination"></div>

  <div class="custom-arrows wrapper">
    <div class="custom-arrow custom-arrow-prev"></div>
    <div class="custom-arrow custom-arrow-next"></div>
  </div>


</div>
