<div class="slider-block">
  <div class="swiper js-slider-grid-4 slider-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
          "new": true,
          "sale": true
        },
        "price": {
          "old": "3 890",
          "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС стена",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": true
        },
        "price": {
        "old": "3 890",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": false
        },
        "price": {
        "old": "",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": true,
        "sale": true
        },
        "price": {
        "old": "3 890",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС стена",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": true
        },
        "price": {
        "old": "3 890",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": false
        },
        "price": {
        "old": "",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": false
        },
        "price": {
        "old": "",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": true,
        "sale": true
        },
        "price": {
        "old": "3 890",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС стена",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": true
        },
        "price": {
        "old": "3 890",
        "regular": "2 320"
        }
        })
      </div>
      <div class="swiper-slide">
        @include('../element/product-card.html', {
        "name": "ПЕНОПЛЭКС кровля",
        "specifications": "585x1185x30 / 9.01 м<sup>2</sup> / 13 листов",
        "stickers": {
        "new": false,
        "sale": false
        },
        "price": {
        "old": "",
        "regular": "2 320"
        }
        })
      </div>
    </div>
  </div>
  <div class="swiper-control">
    <div class="swiper-pagination swiper-control__pagination"></div>

    <div class="swiper-control__button">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
