<div class="application-cat">
  <a href="/catalog.html" class="d-b">
    <div class="application-cat--img">
      <picture>
        <source srcset="./assets/img/category/@images.webp" type="image/webp">
        <source srcset="./assets/img/category@images.png" type="image/png">
        <img src="./assets/img/category/@images.jpg" alt="cat-1">
      </picture>
    </div>

    <div class="application-cat--inner d-f ai-c">
      <div class="application-cat--name title-h5">@name</div>
      <div class="application-cat--icons"></div>
    </div>
  </a>
</div>
