<footer class="footer">
  <div class="wrapper">
    <div class="footer-top">
      <div class="footer-info">
        <div class="footer-decription">
          <div class="footer-decription-title title-h3">Официальный интернет-магазин ПЕНОПЛЭКС</div>
          <p class="footer-decription-text">Компания ПЕНОПЛЭКС&nbsp;&mdash; ведущий производитель надёжных и&nbsp;эффективных строительных материалов. Компания предлагает широкий ассортимент качественных материалов и&nbsp;готовых решений для строительства. Покупайте напрямую от&nbsp;производителя.</p>
        </div>

        <div class="social">
          <div class="social-title title-h4">Социальные сети</div>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.youtube.com/user/PENOPLEXspb" class="social-link">
                <svg width="24" height="24">
                  <use xlink:href="./assets/img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="https://vk.com/club86715452" class="social-link">
                <svg width="24" height="24">
                  <use xlink:href="./assets/img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-menu--wrapper">
        <div class="footer-menu--col">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link title-h4">ПЕНОПЛЭКС</a>
              <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Где купить?</a></li>
              </ul>
            </li>
            <li class="footer-menu-item"><a href="#" class="footer-menu-link title-h4">Акции</a></li>
            <li class="footer-menu-item"><a href="#" class="footer-menu-link title-h4">Новинки</a></li>
          </ul>
        </div>
        <div class="footer-menu--col">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link title-h4">Каталог</a>
              <ul>
                <li><a href="#">Полы</a></li>
                <li><a href="#">Стены</a></li>
                <li><a href="#">Фундамент</a></li>
                <li><a href="#">Кровля</a></li>
                <li><a href="#">Балкон</a></li>
                <li><a href="#">Теплица</a></li>
                <li><a href="#">Бассейн</a></li>
                <li><a href="#">Цоколь и подвал</a></li>
                <li><a href="#">Клей-пена</a></li>
                <li><a href="#">Другое</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="footer-menu--col">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link title-h4">Клиентам</a>
              <ul>
                <li><a href="#">Как сделать заказ</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Возврат</a></li>
                <li><a href="#">Вопрос и ответ</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="footer-menu--col">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link title-h4">Информация</a>
              <ul>
                <li><a href="#">Карта сайта</a></li>
                <li><a href="#">Оферта</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
              </ul>
            </li>
            <li class="footer-menu-item"><a href="#" class="footer-menu-link title-h4">Сервисы</a></li>
            <li class="footer-menu-item"><a href="#" class="footer-menu-link title-h4">Новости</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-subscription">
    <div class="wrapper">
      <form class="subscription-form" action="" method="POST">
        <div class="subscription-inner">
          <div class="subscription-title">Подписаться на&nbsp;рассылку информационных материалов</div>
          <div class="subscription-subtitle">Не&nbsp;забудьте проверить почту для подтверждения</div>
        </div>
        <div class="subscription-filds">
          <input type="email" name="" class="subscription-input" placeholder="Укажите ваш E-mail">
          <button class="btn btn-primary" type="submit">Подписаться</button>
        </div>
        <div class="subscription-smalltext">Нажимая на&nbsp;кнопку &laquo;Подписаться&raquo; вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных</div>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="wrapper">
      <div class="footer-copyright">&copy;&nbsp;2023&nbsp;ООО &laquo;ПЕНОПЛЭКС СПб&raquo;. Все права защищены</div>
      <div class="footer-payment payment-list">
        <svg width="38" height="24">
          <use xlink:href="./assets/img/pay.svg#pay-mastercard"></use>
        </svg>

        <svg width="38" height="24">
          <use xlink:href="./assets/img/pay.svg#pay-mir"></use>
        </svg>

        <svg width="38" height="24">
          <use xlink:href="./assets/img/pay.svg#pay-visa"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
