<header class="header header-js">
  <div class="header-top">
    <div class="wrapper header-top__wrapper">
      <button class="header__location-button btn-reset">
        <svg width="14" height="14">
          <use xlink:href="./assets/img/sprite.svg#location"></use>
        </svg>
        <span>Санкт-Петербург</span>
      </button>
      <ul class="header-top-menu header-top-menu--left ">
        <li><a href="#">Доставка по всей России</a></li>
      </ul>
      <ul class="header-top-menu header-top-menu--right">
        <li class="selection"><a href="#">Подбор материала</a></li>
        <li><a href="#">Акции</a></li>
        <li class="header-top-menu-submenu"><a href="#">Сервис</a>
<!--          <ul >-->
<!--            <li><a href="#">Теплоизоляция</a></li>-->
<!--            <li><a href="#">Комплектующие</a></li>-->
<!--            <li><a href="#">Aerosmith</a></li>-->
<!--          </ul>-->
        </li>
        <li><a href="#">Помощь</a></li>
      </ul>
    </div>
  </div>
  <div class="header-center">
    <div class="wrapper header-center__wrapper">
      <div class="header-logo logo">
        <a href="/" class="logo-link">
          <svg width="263" height="38">
            <use xlink:href="./assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>

      <button class="header-menu-category__button btn btn-icons">
        <span class="header-menu-category__button-burger"></span>
        <span>Каталог</span>
      </button>

    <form class="header__search">
      <input class="header__search-input" type="search" placeholder="Введите фразу для поиска">
      <button class="header__search-btn btn-reset" type="button">
        <svg width="22" height="22" aria-hidden="true">
          <use xlink:href="./assets/img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>

    <div class="header__personal-panel__list">
      <a href="#" class="header__personal-panel__item header__personal-panel__phone">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#phone"></use>
        </svg>
      </a>

      <a href="#" class="header__personal-panel__item header__personal-panel__profile">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#profile"></use>
        </svg>
      </a>

      <a href="#" class="header__personal-panel__item header__personal-panel__cart">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#chart"></use>
        </svg>
      </a>

      <a href="#" class="header__personal-panel__item header__personal-panel__heart">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#heart"></use>
        </svg>
        <span class="count">18</span>
      </a>

      <a href="#" class="header__personal-panel__item header__personal-panel__cart">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#cart"></use>
        </svg>
        <span class="count">3</span>
      </a>
    </div>

  </div>
  </div>
</header>


<header class="header-mobile">
  <div class="wrapper">
    <button class="header-mobile__burger burger">
      <span class="burger-line burger-top"></span>
      <span class="burger-line burger-center"></span>
      <span class="burger-line burger-bottom"></span>
    </button>
    <a href="/" class="logo-link">
      <svg width="263" height="38">
        <use xlink:href="./assets/img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header-mobile__panel d-f">
      <button class="header-mobile__panel-btn header-mobile__search-btn">
        <svg width="22" height="22" aria-hidden="true">
          <use xlink:href="./assets/img/sprite.svg#search"></use>
        </svg>
      </button>

      <button data-src="#" class="header-mobile__panel-btn header-mobile__phone">
        <svg width="22" height="22">
          <use xlink:href="./assets/img/sprite.svg#phone"></use>
        </svg>
      </button>
    </div>
  </div>
</header>



<div id="header-mobile-menu">
    <ul class="header-mobile-nav">
      <li>
        <a href="#">Подбор материала</a>
      </li>
      <li>
        <a href="#">Каталог</a>
        <ul>
          <li><a href="#">Теплоизоляция</a></li>
          <li><a href="#">Комплектующие</a></li>
          <li><a href="#">Aerosmith</a></li>
        </ul>
      <li>
        <a href="#">Albums</a>
        <ul>
          <li>
            <a href="#">Get Your Wings</a>
            <ul>
              <li>
                <a href="#">Same Old Song and Dance</a>
              </li>
              <li><a href="#">Train Kept A-Rollin'</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Hotel California</a>
            <ul>
              <li><a href="#">Hotel California</a></li>
              <li><a href="#">Pretty Maids All in a Row</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Physical Graffiti</a>
            <ul>
              <li><a href="#">Houses of the Holy</a></li>
              <li><a href="#">In My Time of Dying</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Songs</a>
        <ul>
          <li>
            <a href="#">Hotel California</a>
          </li>
          <li>
            <a href="#">Houses of the Holy</a>
          </li>
          <li>
            <a href="#">In My Time of Dying</a>
          </li>
          <li>
            <a href="#">Pretty Maids All in a Row</a>
          </li>
          <li>
            <a href="#">Same Old Song and Dance</a>
          </li>
          <li>
            <a href="#">Train Kept A-Rollin'</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Genres</a>
        <ul>
          <li>
            <a href="#">Rock</a>
            <ul>
              <li>
                <a href="#">Hotel California</a>
              </li>
              <li>
                <a href="#">Pretty Maids All in a Row</a>
              </li>
              <li>
                <a href="#">Same Old Song and Dance</a>
              </li>
              <li>
                <a href="#">Train Kept A-Rollin'</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Hard rock</a>
            <ul>
              <li>
                <a href="#">Houses of the Holy</a>
              </li>
              <li>
                <a href="#">In My Time of Dying</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Settings</a>
        <ul>
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Player</a>
            <ul>
              <li>
                <a href="#">Equalizer</a>
              </li>
              <li>
                <a href="#">Volume</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
</div>
