<div class="objects">
  <div class="objects-images">
    <picture>
      <source srcset="./assets/img/@images.webp" type="image/webp">
      <source srcset="./assets/img/@images.jpg" type="image/png">
      <img src="./assets/img/@images.jpg" alt="servise-1">
    </picture>
  </div>
  <div class="objects-inner">
    <div class="objects-title title-h3"><a href="#">@name</a></div>
    <div class="objects-text">
      @text
    </div>
    <a href="#" class="link-arrow link-arrow-grey objects-link">Перейти</a>
  </div>
</div>
