<div class="breadcrumb" itemprop="http://schema.org/breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <div class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a class="breadcrumb-item-link" href="#" title="Главная" itemprop="item">
      <span class="breadcrumb-item-text" itemprop="name">Главная</span>
    </a>
    <meta itemprop="position" content="1">
  </div>

  <div class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a class="breadcrumb-item-link" href="#" title="Главная" itemprop="item">
      <span class="breadcrumb-item-text" itemprop="name">Еще один пункт</span>
    </a>
    <meta itemprop="position" content="2">
  </div>

  <div class="breadcrumb-item">
    <span class="breadcrumb-item-text">Каталог</span>
  </div>
</div>
