<div class="smart-filter">

  <div class="smart-filter--top">
    <div class="smart-filter--title title-h5">Фильтр</div>
<!--    <a href="#" class="smart-filter-link-reset">Сбросить фильтр</a>-->
  </div>
  <div class="smart-filter-center">
    <div class="smart-filter-box">
      <div class="smart-filter-box-rows">
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="stock-1">
          <label for="stock-1">В наличии</label>
        </div>
      </div>
    </div>

    <div class="smart-filter-box">
      <div class="smart-filter-box-top">
        <span>Вид конструкции</span>
      </div>
      <div class="smart-filter-box-rows">
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-1" checked>
          <label for="foundation-1">Фундамент</label>
        </div>
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-2">
          <label for="foundation-2">Стена</label>
        </div>
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-3" checked>
          <label for="foundation-3">Цоколь/подвал</label>
        </div>
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-4">
          <label for="foundation-4">Балкон/лоджия</label>
        </div>

        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-5">
          <label for="foundation-5">Бассейн</label>
        </div>
      </div>
    </div>

    <div class="smart-filter-box">
      <div class="smart-filter-box-top">
        <span>Сопутствующие товары</span>
      </div>
      <div class="smart-filter-box-rows">
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-1-1">
          <label for="foundation-1-1">Клей-пена</label>
        </div>
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-1-2">
          <label for="foundation-1-2">Напыляемый утеплитель</label>
        </div>
      </div>
    </div>

    <div class="smart-filter-box">
      <div class="smart-filter-box-top">
        <span>Серия</span>
      </div>
      <div class="smart-filter-box-rows">
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-2-1">
          <label for="foundation-2-1">Комфорт</label>
        </div>
        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-2-2">
          <label for="foundation-2-2">Фундамент</label>
        </div>

        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-2-3">
          <label for="foundation-2-3">Стена</label>
        </div>

        <div class="smart-filter-box-row">
          <input type="checkbox" name="" id="foundation-2-4">
          <label for="foundation-2-4">Экстрим</label>
        </div>
      </div>
    </div>
  </div>
  <div class="smart-filter-bottom">
    <button class="btn btn-primary">Показать</button>
    <button class="btn">Сбросить фильтр</button>
  </div>

</div>
